/*@font-face {
	font-display:block;
	font-family: 'Myriad-Pro';
	src: url('fonts/Myriad Pro Bold SemiExtended.woff2') format('woff2'),
	url('fonts/MyriadPro-BoldSemiExt.woff') format('woff');
}*/


/*@font-face {
	font-display:block;
	font-family: 'Myriad Pro';
	rc: url('fonts/MyriadPro-Regular.woff2') format('woff2'),
	url('fonts/MyriadPro-Regular.woff') format('woff');
}

@font-face {
	font-display:block;
	font-family: 'Myriad Pro Light';
	src: local('Myriad Pro Light'), url('MyriadPro-Light.woff') format('woff');
}

@font-face {
	font-display:block;
	font-family: 'Collection-Free';
	src: url('CollectionFreeRegular.woff2') format('woff2'),
	url('CollectionFreeRegular.woff') format('woff');
}*/

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBlack;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: RobotoBold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: OpensansBold;
    src: url("../fonts/OpenSans-Bold.ttf");
}