@font-face {
  font-family: Cafeta;
  src: url('../fonts/UTM Cafeta.ttf');
}
@font-face {
  font-family: Bebas;
  src: url('../fonts/UTM Bebas.ttf');
}
@font-face {
  font-family: Reso-Light;
  src: url('../fonts/Reso-Light.ttf');
}
@font-face {
  font-family: Reso-Regular;
  src: url('../fonts/Reso-Regular.TTF');
}

$color1: #231f20;
$color2: #C2000B;

$font1: 'Cafeta', sans-serif;
$font2: 'Bebas', serif;
$font3: 'Reso-Regular', serif ;

@mixin visuallyHidden {  clip: rect(0 0 0 0);  clip: rect(0, 0, 0, 0);  overflow: hidden;  position: absolute;  height: 1px;  width: 1px;}
@mixin prefix($property, $value) {  -webkit-#{$property}: #{$value};  -moz-#{$property}: #{$value};  -ms-#{$property}: #{$value};  -o-#{$property}: #{$value};  #{$property}: #{$value};}
@mixin transition($value) {  transition: all $value ease-in-out;  -webkit-transition: all $value ease-in-out;}
@mixin transitionC($value1, $value2) {  transition: all $value1 ease-in-out $value2;  -webkit-transition: all $value1 ease-in-out $value2;}
@mixin translate($x,$y) {  transform: translate($x,$y);  -webkit-transform: translate($x,$y);}
@mixin translateX($x) {  transform: translateX($x);  -webkit-transform: translateX($x);}
@mixin translateY($y) {  transform: translateY($y);  -webkit-transform: translateY($y);}
@mixin rotate($value) {  transform: rotate($value);  -webkit-transform: rotate($value);}
@mixin gradient($rightom, $to, $fallback) {  background: $fallback;  background: -moz-linear-gradient(top, $rightom 0%, $to 100%);  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$rightom), color-stop(100%,$to));  background: -webkit-linear-gradient(top, $rightom 0%,$to 100%);  background: -o-linear-gradient(top, $rightom 0%,$to 100%);  background: -ms-linear-gradient(top, $rightom 0%,$to 100%);  background: linear-gradient(top bottom, $rightom 0%,$to 100%);}
@mixin backface($visibility: hidden) {  @include prefix('backface-visibility', #{$visibility});}
@mixin box-sizing($box-sizing: border-box) {  -webkit-box-sizing: #{$box-sizing};  -moz-box-sizing: #{$box-sizing};  box-sizing: #{$box-sizing};}
@mixin animation($animation) {  -webkit-animation: $animation;  -moz-animation:    $animation;  -o-animation:      $animation;  animation:         $animation;}

@mixin hover-top {
  @include transition(0.3s);
  &:hover {
    -webkit-box-shadow:  0 4px 8px 0 rgba(140,140,140,0.5);
    -moz-box-shadow:  0 4px 8px 0 rgba(140,140,140,0.5);
    box-shadow: 0 4px 8px 0 rgba(140,140,140,0.5);
    @include translateY(-8px);
  }
}

@mixin middleY { 
    position: absolute; top: 50%;
    @include translateY(-50%); 
}
@mixin middleX { 
    position: absolute; left: 50%;
    @include translateX(-50%); 
}

@mixin middle { 
    position: absolute; top: 50%; left: 50%;
    @include translate(-50%,-50%); @include transition(0.2s);

}