@import "mixin";

$res_only_mobile : "only screen and  (max-width: 767px)";
$res_mobile_small : "only screen and (max-width: 575px)";
$res_mobile_xs : "only screen and (max-width: 480px)";


$res_only_tablet : "only screen and (max-width: 1199px)";
$res_tablet_large : "only screen and (min-width: 992px) and (max-width: 1199px)";
$res_tablet_small : "only screen and (min-width: 768px) and (max-width: 991px)";

$res_only_device : "only screen and (max-width: 992px)";

$res_only_pc: "only screen and (min-width: 1200px)";
$res_pc_medium : "only screen and (min-width: 1200px) and (max-width: 1599px)";
$res_pc_large: "only screen and (min-width: 1600px)";

@mixin res_only_pc() {
  @media #{$res_only_pc} {
    @content;
  }
}
@mixin res_pc_medium() {
  @media #{$res_pc_medium} {
    @content;
  }
}
@mixin res_pc_large() {
  @media #{$res_pc_large} {
    @content;
  }
}

@mixin res_only_device() {
  @media #{$res_only_device} {
    @content;
  }
}

@mixin res_only_tablet() {
  @media #{$res_only_tablet} {
    @content;
  }
}

@mixin res_tablet_large() {
  @media #{$res_tablet_large} {
    @content;
  }
}
@mixin res_tablet_small() {
  @media #{$res_tablet_small} {
    @content;
  }
}
@mixin res_only_mobile() {
  @media #{$res_only_mobile} {
    @content;
  }
}
@mixin res_mobile_small() {
  @media #{$res_mobile_small} {
    @content;
  }
}

@mixin res_mobile_xs() {
  @media #{$res_mobile_xs} {
    @content;
  }
}
@include res_only_pc {
  .menu {
    &.vi {
      > ul li a {
        padding: 0 20px;
      }
    }
    &.eng {
      > ul li a {
        padding: 0 15px;
      }
    }
  }
}
@include res_pc_large {
  .container-fluid {
    max-width: 1275px;
    margin: 0 auto;
  }


}

@include  res_only_tablet {
  .menu {
    width: 35%;
    right: -35%;
    li a {
      font-size: 30px;
    }
  }
  .language {
    font-size: 30px;
  }
}




@include res_tablet_large {
  //--------HEADER--------
  .distance-top {
    margin-top: 90px;
  }
  .menu {
    margin-top: 0;
    float: left;
    text-align: right;
    position: fixed;
    height: 100%;
    top: 0;
    background: $color2;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    z-index: 15;
    .list-unstyled {
      padding-top: 45px;
    }
    .menu-close {
      display: inline-block;
      z-index: 99;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    li {
      display: block;
      &:after {
        display: none;
      }
      a {
        display: block;
        padding: 25px 40px 25px 40px;
        width: 100%;
        text-align: left;
        color: #fff;
        &:hover {
          color: #f89f1f;
        }
      }
    }
  }
  .pc-social{
    display: none;
  }
  .menu .m-social{
    text-align: left !important;
    display: block;
    padding-left: 40px;
    li{
      display: inline-block !important;
      a {
        padding: 0;
      }
    }
  }
  .language {
    display: none;
  }
  .m-language{
    text-align: left;
    display: block !important;
    color: #fff;
    padding-left: 40px;
    margin-bottom: 30px;
    a {
      display: inline-block !important;
      width:auto !important;
    }
  }
  .nav-mobile {
    display: block;
    height: 40px;
    width: 40px;
    float: right;
    text-align: center;
    line-height: 40px;
  }
  .menu-slows .menu {
    right: 0;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
  }

  //--------OTHER--------

  #register {

  }
  .dream_content {
    margin: 0;
  }
  #camp {
    

  }
  #summer {

  }
  .summer_center {
    left: 35%;
  }

  #camp .row>div {
      height: 500px;
  }
  #camp {
    .col1 img {
            max-width: 800px;
    }
    .col2  {
      .cam2 {
          left: 0;
          max-width: 50%;
      }
      .cam3 {
          right: 0;
          max-width: 50%;
      }
      .cam4_ {
          left: 0;
          max-width: 50%;
      }

    }

  }
  #dream .img-dream {
      margin-left: 250px;
      max-width: 60%;
  }





}

@include res_only_device {
  //--------HEADER--------
  .distance-top {
    margin-top: 90px;
  }
  .menu {
    margin-top: 0;
    float: left;
    text-align: right;
    position: fixed;
    height: 100%;
    top: 0;
    background: $color2;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    z-index: 15;
    .menu-close {
      display: block;
      z-index: 99;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .list-unstyled {
      padding-top: 45px;
    }
    li {
      display: block;
      &:after {
        display: none;
      }
      a {
        display: block;
        padding: 15px 0 15px 25px;
        width: 100%;
        text-align: left;
        color: #fff;
        &:hover {
          color: #f89f1f;
        }
      }
    }
  }
  .pc-social{
    display: none;
  }
  .menu .m-social{
    text-align: left !important;
    display: block;
    padding-left: 25px;
    li{
      display: inline-block !important;
      a {
        padding: 0;
      }
    }
  }
  .language {
    display: none;
  }
  .m-language{
    text-align: left;
    display: block !important;
    color: #fff;
    padding-left: 25px;
    margin-bottom: 10px;
    a {
      display: inline-block !important;
      width:auto !important;
    }
  }
  .nav-mobile {
    display: block;
    height: 40px;
    width: 40px;
    float: right;
    text-align: center;
    line-height: 40px;
  }
  .menu-slows .menu {
    right: 0;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
  }

  //--------OTHER--------
  #summer {

    .row {

    }
    .summer_center {
    position: relative;
    display: block;
    margin: 0 auto;
    @include translate(0,0);
    left: auto; top: auto;
    }
    .summer_title {
      text-align: center; color: #431514;
    }
    .list-inline-item:not(:last-child) {
      margin-right: 35px;
    }
  }
  .contain-header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .before-menu {
    display: none;
  }
  #more {

    .row {
      height: auto;
      text-align: center;
    }
  }
  #camp {


    background-size:cover;
    .row {
      text-align: center; display: block; padding: 30px 0;
      &>div {
    display: block;
    height: auto;
    width: auto;
    max-width: 100%;

      }

    .col1 img {
        position: relative;
        left: auto;
        bottom: auto;
        max-width: none;
    }

    .col2 {
      &>a {
        position: relative !important;
        display: block;
        left: auto; right: auto; bottom: auto; text-align: center; @include translate(0,0); 
      }

      .cam3{
        margin-bottom: 40px;
      }
    }



    }
  }
  #camp.eng {

  }
  #dream {
    text-align: center;
    .img-dream {
        margin: 0; max-width: 60%;
    }

  }
  .dream_content {
    img {
      margin-top: 10px;
    }
  }
  #register {
    background-size: cover;

    .row {
      height: auto;
      .col-lg-6 {

      }
    }
  }

   // submenu
  .menu{
    li ul.submenu{
      background: inherit;
      position: static;
      margin: 0 20px;
      box-shadow: none;
    }
  }
  
}

@include res_tablet_small {
  #summer {

  }
  .menu li a {
    padding: 15px 0 15px 50px;
  }
  .m-language {
    padding-left: 50px;
  }
  .menu .m-social {
    padding-left: 50px;
  }
  div[id^="video"] .modal-dialog {
    max-width: 700px;
  }

}

@include res_only_mobile {




#more .col-img,
#camp .row>.col1 {
    overflow: hidden;
}

#more .col-img {
  padding: 0;

  .d-sm-block {
      max-width: 100% !important;
      height: auto;
      float: none;
      width: 100% !important;
  }  
}

#more .col2 {
  padding: 20px 0;
}

#camp .row .col1 img {
    left: -50px;
    max-width: 640px;
}


#summer .row { height: auto; }
#dream .img-dream {

    max-width: 100%;
}
#dream .bg {
    background-position: 0 0;
}

#register h4,
.summer_title {
    font-size: 36px;
}


  .contain-page {
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu {
    width: 60%;
    right: -60%;
  }
  .menu .list-unstyled {
    padding-top: 15px;
  }
  .menu .menu-close {
    top: 0;
    right: 0;
  }
  .menu li a {
    padding: 8px 0 8px 25px;
    font-size: 22px;
  }
  .language {
    font-size: 22px;
  }
  .hotline {
    max-width: 130px;
    right: 5px;
    bottom: 5px;
  }
  #summer {

    .list-inline-item {
      margin-right: 25px !important;
      margin-left: 25px;
    }
  }
  .summer {
    &_title {
      // margin-bottom: 30px;
      margin-top: 20px;
      margin-bottom: 100px;
    }
  }
  #camp {

  }
  #camp.eng {

  }
  #dream {

  }
  .dream {
    &_text {

    }
  }
  #register {

  }
  #summerform {
    background-size: 100%;
    padding: 0;
    .form-control {
      margin-bottom: 12px;
    }
    .textarea {
      padding: 20px 35px;
    }
    input.form-control {
      height: 40px;
      padding: 0 35px;
    }
    textarea.form-control {
      padding: 0;
    }
  }

  #register  {
    padding-bottom: 100px;

    .bg {
        background-size: 100%;
    }
  }


      

}

@include res_mobile_small {
  #camp .row .col1 img{
    left: -15px;
  }
}


@media only screen and (min-width: 1200px) and (max-width: 1599px){
   body > section{
    min-height: calc(100vh - 103px);
    background-position: 0 0 !important;
  }


  #more{
    .col-img{
      min-height:  calc(100vh - 103px);
      .d-sm-block{
        height: 100vh;
      }
    }
    .col2{
      img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

      }
    }
  }
  
  #camp{
    .col1{
      min-height:  calc(100vh - 103px);
      img{
        height: calc(100vh - 103px);
      }
    }
  }

  #dream{
    .img-dream{
      min-height:  calc(100vh - 103px);
    }
  }

}

@media only screen and (max-width: 991px) {
  #camp .row>div {
      overflow: hidden;
  }
}

@media only screen and (max-width: 1199px) {
  .menu .list-unstyled {
    display: block;

    a br { display: none; }
  }
  
 
}
