.margin-0 {margin: 0 !important;}
.padding-0 {padding: 0 !important;}




a {
  color: inherit;
  cursor: pointer;
  @include transition(0.3s);
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:focus {
    outline: none;
    color: inherit;
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font2;
  font-weight: 500;
}

body {
  font-family: $font1;
  color: $color1;
  font-size: 15px;
}

.color-main {
  color: $color1;
}
.mt-20 {
  margin-top: 20px;
}
.m-auto {
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width: 100%;
}

//--------------HEADER----------------

#home {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px 0;
  background: white;
  z-index: 100;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .75);
}
.contain-page {
  padding-left: 40px;
  padding-right: 40px;
}

.language {
  text-align: right;
  font-size: 22px;
  color: #5d5d5d;
  font-family: 'Reso-Light';
  a.active {
    color: #f47f1f;
  }
}
.m-language{
  display: none !important;
}

.header-right {
  margin: 20px 0 0 50px;
  float: right;
}

.before-menu {
  background: linear-gradient(to right, #891c1d , #bc2237, #fff);
  height: 50px;
  margin-left: -100px;
  -ms-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  border: 0.3px solid #ce2726;
}
.menu {
  .menu-close {
    display: none;
    a {
      padding: 15px;
      .fa {
        line-height: inherit;
        font-size: 30px;
        color: #fff;
      }
    }
  }
  .list-unstyled {
    margin-bottom: 0;
    display: flex; padding-top: 22px;
  }
  li {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    &:not(:last-child):after {
      content: "";
      height: 50px;
      width: 1px;
      background: #C2000B;
      position: absolute;
      top: -10px;
      right: 0;
      -ms-transform: skew(-15deg);
      -webkit-transform: skew(-15deg);
      transform: skew(-15deg);
    }
    a {
      display: block;
      font-size: 20px;
      font-family: 'Reso-Light';
          text-align: center;
    line-height: normal;
      &:hover {
        color: $color2;
      }
    }
    
    ul.submenu{
      opacity: 0;
      height: 0;
      position: absolute;
      background-color: #fff;
      padding: 0 10px;
      top: 40px;
      box-shadow: -1px 5px 10px 0 rgba(0, 0, 0, 0.75);
      @include transition(0.3s);

      li{
        display: block;
        text-transform: none;
        &:after{
          content: none;
        }
        a{
          white-space: nowrap;
          padding: 7px;
          text-align: left;
          font-size: 18px;
        }
      }
     
    }
    &:hover .submenu{
      opacity: 1;
      height: auto;
    }

  }
}

.mainmenu>li>.showsubmenu.fa-caret-right { height: 45px }
.mainmenu li .showsubmenu.fa-caret-right { display: block !important; z-index: 10; position: absolute; right: 15px; width: 100%; top: 0; cursor: pointer; line-height: 45px; 
  text-align: right;  height: 45px }
.mainmenu li .showsubmenu.fa-caret-right:before { color: #fff !important; content: "\f0da"; transition: all .3s linear }
.mainmenu li.parent-showsub>.showsubmenu.fa-caret-right:before { color: #fff; content: "\f0d7"; transition: all .3s linear }


.nav-mobile {
  display: none;
}

.social, .menu .m-social {
  margin-bottom: 0;
  li {
    a {
      display: block;
      height: 40px;
      width: 40px;
      background: #111;
      text-align: center;
      color: #fff;
      line-height: 40px;
      border-radius: 50%;
      &:hover {
        background: #C2000B;
      }
      .fa {
        font-size: 20px;
        line-height: inherit;
      }
    }
  }
}
.m-social{
  display: none;
}

.hotline {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  @include transition(0.3s);
  &:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }
}

.arrow-flicker {
  position: absolute;
  z-index: 10;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  animation-name: flicker;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

//--------------SUMMER----------------
.distance-top {
  margin-top: 103px;
}
#summer {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
    background-size: cover;
        z-index: 3;
  .row {
    height: 540px;
  }
}

.summer_center {
  position: absolute;

  @include middle;
}
.summer_title {
  text-align: right;
  color: #431514;
  margin-top: 50px;
  margin-bottom: 60px;
  font-size: 45px;
  font-family: $font2;
}
.summer_list {
  text-align: center;
  color: #fff;
  li { 


  }
  a:hover {
    color: #525f2b;
  }
  p {
    font-size: 17px;
  }
}

//--------------MORE----------------
#more {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .row {
    height: 620px;
  }
  .col-img { 
    position: relative;
    &:after { 
      content: ""; width: 200px;   top: 0; left: 100%; bottom: 0;
          position: absolute;    margin-left: -90px;
          background: url(../img/bg-more-2.png) no-repeat left center; background-size:auto 100%;
    }
    .d-sm-block {
        max-width: none !important;
        height: 100%;
        width: auto !important;
        float: right;
    }
    .img-more-1 { position: absolute; left: 0; bottom: 20px;  }
  }



}

//--------------CAMP----------------
#camp {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;


  .row {
    
    &>div {height: 600px; position: relative;  }
  }
  .col1 {
    img { position: absolute; left: -50px; bottom: 0; max-width: none; }
  }
  .col2 {
    .cam2 { position: absolute; left: 15px; top: 30px;   }
    .cam3 { position: absolute; right: 15px; top: 30px;   }
    .cam4{ position: absolute; left: 50%; bottom: 30px; @include  middleX;   }
  }
}


//--------------DREAM----------------
#dream {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .row {
    height: 600px;
  }

  .img-dream {
      display: inline-block;
      margin-left: 440px;
  }

  .container-fluid { position: relative; z-index: 2; }
  .bg {
    position: absolute; left: 0; right: 0; bottom: 0; top: 0;
    background-position: bottom center;
    background-repeat: no-repeat;
  }  
}
.dream_content {
  max-width: 500px;
  margin: 0 auto;
  img {
    margin-top: 130px;
  }
}
.dream_text {
  background-image: url(../img/bg-dream-text.png);
  -webkit-background-size: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 50px 60px 20px 60px;
  max-width: 480px;
  text-align: justify;
}
.dream_list {
  font-size: 20px;
  &:not(.list-unstyled) {
    padding-left: 20px;
  }
  &.list-unstyled li {
    background-color: #f89c2e;
    margin-bottom: 5px;
    padding: 0 10px;
  }
}

//--------------REGISTER----------------
#register {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h4 {
    margin-bottom: 20px;
    padding-top: 50px;
    color: #431514;
    font-size: 45px;
    font-family: "Bebas", serif;    
  }
  .container-fluid { position: relative; z-index: 2; }
  .bg {
    position: absolute; left: 0; right: 0; bottom: 0; top: 0;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}

#summerform {
  max-width: 470px;
  padding: 10px;
  margin: 0 auto;
  background-repeat: no-repeat;
  font-family: $font3;
  .form-control {
    margin-bottom: 10px;
    background-color: transparent;
    font-size: 22px;
    border: none;
  }
  input.form-control{
    height: 50px;
    background-image: url(../img/form-1.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    padding: 10px 50px;
    background-repeat: no-repeat;
  }
  select.form-control {
    height: 50px;
    background-image: url(../img/form-1.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    padding: 10px 50px;
    background-repeat: no-repeat;
  }
  .textarea {
    background-image: url(../img/form-2.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    padding: 25px 38px;
    background-repeat: no-repeat;
    .form-control {
      margin-bottom: 0;
    }
  }
  .btn-submit {
    text-align: center;
    margin-top: 20px;
    button {
      padding: 5px 20px;
      background-image: url(../img/form-3.png);
      background-color: transparent;
      background-repeat: no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      border: none;
      color: #fff;
      font-size: 22px;
      &:focus {
        outline: none;
      }
    }
  }
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  h4 {
    font-family: Roboto;
    text-transform: uppercase;
  }
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}

.video_iframe {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

#thanks {
  background: #D6EFD2;
  background: -webkit-linear-gradient(#fff, #D6EFD2);
  background: -o-linear-gradient(#fff, #D6EFD2);
  background: -moz-linear-gradient(#fff, #D6EFD2);
  background: linear-gradient(#fff, #D6EFD2);
  background-size: 100% 100%;
}

#thanks div {
  padding: calc((100vh - 134px) / 2) 0;
  text-align: center;
}



[class*="tRes"] {
  position: relative; overflow: hidden; display: block; background-repeat: no-repeat; background-position: center; background-size: cover; 
  &.tResinline {    display: inline-block;  }
  &:before { content: ""; padding-top: 100%;   display: block; position: relative; z-index: 2;}
  img { 
    z-index: 1;
    object-fit: cover;   position: absolute;  width: 100%;   height: 100%;  top:0; left:0; 
  }
}
.tRes {
  &_109:before {
     padding-top: 109%;  
  }
}
