@font-face {
    font-family: Cafeta;
    src: url("../fonts/UTM Cafeta.ttf")
}

@font-face {
    font-family: Bebas;
    src: url("../fonts/UTM Bebas.ttf")
}

@font-face {
    font-family: Reso-Light;
    src: url("../fonts/Reso-Light.ttf")
}

@font-face {
    font-family: Reso-Regular;
    src: url("../fonts/Reso-Regular.TTF")
}

@media only screen and (min-width:1200px) {
    .menu.vi>ul li a {
        padding: 0 20px
    }
    .menu.eng>ul li a {
        padding: 0 15px
    }
}

@media only screen and (min-width:1600px) {
    .container-fluid {
        max-width: 1275px;
        margin: 0 auto
    }
}

@media only screen and (max-width:1199px) {
    .menu {
        width: 35%;
        right: -35%
    }
    .menu li a {
        font-size: 30px
    }
    .language {
        font-size: 30px
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .distance-top {
        margin-top: 90px
    }
    .menu {
        margin-top: 0;
        float: left;
        text-align: right;
        position: fixed;
        height: 100%;
        top: 0;
        background: #C2000B;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        z-index: 15
    }
    .menu .list-unstyled {
        padding-top: 45px
    }
    .menu .menu-close {
        display: inline-block;
        z-index: 99;
        position: absolute;
        top: 20px;
        right: 20px
    }
    .menu li {
        display: block
    }
    .menu li:after {
        display: none
    }
    .menu li a {
        display: block;
        padding: 25px 40px 25px 40px;
        width: 100%;
        text-align: left;
        color: #fff
    }
    .menu li a:hover {
        color: #f89f1f
    }
    .pc-social {
        display: none
    }
    .menu .m-social {
        text-align: left!important;
        display: block;
        padding-left: 40px
    }
    .menu .m-social li {
        display: inline-block!important
    }
    .menu .m-social li a {
        padding: 0
    }
    .language {
        display: none
    }
    .m-language {
        text-align: left;
        display: block!important;
        color: #fff;
        padding-left: 40px;
        margin-bottom: 30px
    }
    .m-language a {
        display: inline-block!important;
        width: auto!important
    }
    .nav-mobile {
        display: block;
        height: 40px;
        width: 40px;
        float: right;
        text-align: center;
        line-height: 40px
    }
    .menu-slows .menu {
        right: 0;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear
    }
    .dream_content {
        margin: 0
    }
    .summer_center {
        left: 35%
    }
    #camp .row>div {
        height: 500px
    }
    #camp .col1 img {
        max-width: 800px
    }
    #camp .col2 .cam2 {
        left: 0;
        max-width: 50%
    }
    #camp .col2 .cam3 {
        right: 0;
        max-width: 50%
    }
    #camp .col2 .cam4_ {
        left: 0;
        max-width: 50%
    }
    #dream .img-dream {
        margin-left: 250px;
        max-width: 60%
    }
}

@media only screen and (max-width:992px) {
    .distance-top {
        margin-top: 90px
    }
    .menu {
        margin-top: 0;
        float: left;
        text-align: right;
        position: fixed;
        height: 100%;
        top: 0;
        background: #C2000B;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        z-index: 15
    }
    .menu .menu-close {
        display: block;
        z-index: 99;
        position: absolute;
        top: 10px;
        right: 10px
    }
    .menu .list-unstyled {
        padding-top: 45px
    }
    .menu li {
        display: block
    }
    .menu li:after {
        display: none
    }
    .menu li a {
        display: block;
        padding: 15px 0 15px 25px;
        width: 100%;
        text-align: left;
        color: #fff
    }
    .menu li a:hover {
        color: #f89f1f
    }
    .pc-social {
        display: none
    }
    .menu .m-social {
        text-align: left!important;
        display: block;
        padding-left: 25px
    }
    .menu .m-social li {
        display: inline-block!important
    }
    .menu .m-social li a {
        padding: 0
    }
    .language {
        display: none
    }
    .m-language {
        text-align: left;
        display: block!important;
        color: #fff;
        padding-left: 25px;
        margin-bottom: 10px
    }
    .m-language a {
        display: inline-block!important;
        width: auto!important
    }
    .nav-mobile {
        display: block;
        height: 40px;
        width: 40px;
        float: right;
        text-align: center;
        line-height: 40px
    }
    .menu-slows .menu {
        right: 0;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear
    }
    #summer .summer_center {
        position: relative;
        display: block;
        margin: 0 auto;
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        left: auto;
        top: auto
    }
    #summer .summer_title {
        text-align: center;
        color: #431514
    }
    #summer .list-inline-item:not(:last-child) {
        margin-right: 35px
    }
    .contain-header {
        padding-left: 15px;
        padding-right: 15px
    }
    .before-menu {
        display: none
    }
    #more .row {
        height: auto;
        text-align: center
    }
    #camp {
        background-size: cover
    }
    #camp .row {
        text-align: center;
        display: block;
        padding: 30px 0
    }
    #camp .row>div {
        display: block;
        height: auto;
        width: auto;
        max-width: 100%
    }
    #camp .row .col1 img {
        position: relative;
        left: auto;
        bottom: auto;
        max-width: none
    }
    #camp .row .col2>a {
        position: relative!important;
        display: block;
        left: auto;
        right: auto;
        bottom: auto;
        text-align: center;
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0)
    }
    #camp .row .col2 .cam3 {
        margin-bottom: 40px
    }
    #dream {
        text-align: center
    }
    #dream .img-dream {
        margin: 0;
        max-width: 60%
    }
    .dream_content img {
        margin-top: 10px
    }
    #register {
        background-size: cover
    }
    #register .row {
        height: auto
    }
    .menu li ul.submenu {
        background: inherit;
        position: static;
        margin: 0 20px;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .menu li a {
        padding: 15px 0 15px 50px
    }
    .m-language {
        padding-left: 50px
    }
    .menu .m-social {
        padding-left: 50px
    }
    div[id^=video] .modal-dialog {
        max-width: 700px
    }
}

@media only screen and (max-width:767px) {
    #camp .row>.col1,
    #more .col-img {
        overflow: hidden
    }
    #more .col-img {
        padding: 0
    }
    #more .col-img .d-sm-block {
        max-width: 100%!important;
        height: auto;
        float: none;
        width: 100%!important
    }
    #more .col2 {
        padding: 20px 0
    }
    #camp .row .col1 img {
        left: -50px;
        max-width: 640px
    }
    #summer .row {
        height: auto
    }
    #dream .img-dream {
        max-width: 100%
    }
    #dream .bg {
        background-position: 0 0
    }
    #register h4,
    .summer_title {
        font-size: 36px
    }
    .contain-page {
        padding-left: 15px;
        padding-right: 15px
    }
    .menu {
        width: 60%;
        right: -60%
    }
    .menu .list-unstyled {
        padding-top: 15px
    }
    .menu .menu-close {
        top: 0;
        right: 0
    }
    .menu li a {
        padding: 8px 0 8px 25px;
        font-size: 22px
    }
    .language {
        font-size: 22px
    }
    .hotline {
        max-width: 130px;
        right: 5px;
        bottom: 5px
    }
    #summer .list-inline-item {
        margin-right: 25px!important;
        margin-left: 25px
    }
    .summer_title {
        margin-top: 20px;
        margin-bottom: 100px
    }
    #summerform {
        background-size: 100%;
        padding: 0
    }
    #summerform .form-control {
        margin-bottom: 12px
    }
    #summerform .textarea {
        padding: 20px 35px
    }
    #summerform input.form-control {
        height: 40px;
        padding: 0 35px
    }
    #summerform textarea.form-control {
        padding: 0
    }
    #register {
        padding-bottom: 100px
    }
    #register .bg {
        background-size: 100%
    }
}

@media only screen and (max-width:575px) {
    #camp .row .col1 img {
        left: -15px
    }
}

@media only screen and (min-width:1200px) and (max-width:1599px) {
    body>section {
        min-height: calc(100vh - 103px);
        background-position: 0 0!important
    }
    #more .col-img {
        min-height: calc(100vh - 103px)
    }
    #more .col-img .d-sm-block {
        height: 100vh
    }
    #more .col2 img {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    #camp .col1 {
        min-height: calc(100vh - 103px)
    }
    #camp .col1 img {
        height: calc(100vh - 103px)
    }
    #dream .img-dream {
        min-height: calc(100vh - 103px)
    }
}

@media only screen and (max-width:1199px) {
    .menu .list-unstyled {
        display: block
    }
    .menu .list-unstyled a br {
        display: none
    }
}


/*# sourceMappingURL=responsive.css.map */