@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBlack;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: RobotoBold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: OpensansBold;
    src: url("../fonts/OpenSans-Bold.ttf");
}

.margin-0 {
    margin: 0 !important
}

.padding-0 {
    padding: 0 !important
}

a {
    color: inherit;
    cursor: pointer;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out
}

a:hover {
    text-decoration: none;
    color: inherit
}

a:focus {
    outline: none;
    color: inherit;
    text-decoration: none
}

a:visited {
    text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 15px;
    background-image: url('../img/bg-main-2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    counter-reset: section;
    overflow-x: hidden;
}

.color-main {
    color: #231f20
}

.mt-20 {
    margin-top: 20px
}

.m-auto {
    margin-left: auto;
    margin-right: auto
}

img {
    max-width: 100%
}

#home {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #000;
    z-index: 100;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.75);
    /*overflow: hidden;*/
}

.contain-page {
    padding-left: 40px;
    padding-right: 40px
}

.language {
    text-align: right;
    font-size: 22px;
    color: #5d5d5d;
    font-family: "Roboto", sans-serif;
}

.language a.active {
    color: #f47f1f
}

.m-language {
    display: none !important
}

.header-right {
    margin: 20px 0 0 50px;
    float: right
}

.before-menu {
    background: -webkit-gradient(linear, left top, right top, from(#891c1d), color-stop(#bc2237), to(#fff));
    background: -webkit-linear-gradient(left, #891c1d, #bc2237, #fff);
    background: -o-linear-gradient(left, #891c1d, #bc2237, #fff);
    background: linear-gradient(to right, #891c1d, #bc2237, #fff);
    height: 50px;
    margin-left: -100px;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    border: 0.3px solid #ce2726
}

.menu .menu-close {
    display: none
}

.menu .menu-close a {
    padding: 15px
}

.menu .menu-close a .fa {
    line-height: inherit;
    font-size: 30px;
    color: #fff
}

.menu .list-unstyled {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu li {
    display: inline-block;
    text-transform: uppercase;
    position: relative
}

.menu li a {
    display: block;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    color: #fff;
    font-family: 'OpensansBold';
    position: relative;
}

.menu li a:hover {
    color: #8CC641;
}

.menu li a.active {
    color: #8CC641;
}

.menu li ul.submenu {
    opacity: 0;
    height: 0;
    position: absolute;
    background-color: #000;
    padding: 0 10px;
    top: 50px;
    -webkit-box-shadow: -1px 5px 10px 0 rgba(0, 0, 0, 0.75);
    box-shadow: -1px 5px 10px 0 rgba(0, 0, 0, 0.75);
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out
}

.menu li ul.submenu li {
    display: block;
    text-transform: none
}

.menu li ul.submenu li:after {
    content: none
}

.menu li ul.submenu li a {
    white-space: nowrap;
    padding: 7px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
}

.menu li:hover .submenu {
    opacity: 1;
    height: auto
}

.mainmenu>li>.showsubmenu.fa-caret-right {
    height: 45px
}

.mainmenu li .showsubmenu.fa-caret-right {
    display: block !important;
    z-index: 10;
    position: absolute;
    right: 15px;
    width: 100%;
    top: 0;
    cursor: pointer;
    line-height: 45px;
    text-align: right;
    height: 45px
}

@media only screen and (min-width: 1200px) {
    .mainmenu li .showsubmenu.fa-caret-right {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .mainmenu li .showsubmenu.fa-caret-right {
        line-height: 74px;
        height: 74px;
    }
    .menu li ul.submenu {
        background: inherit;
        position: static;
        margin: 0 20px;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

.mainmenu li .showsubmenu.fa-caret-right:before {
    color: #fff !important;
    content: "\f0da";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

.mainmenu li.parent-showsub>.showsubmenu.fa-caret-right:before {
    color: #fff;
    content: "\f0d7";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

.nav-mobile {
    display: none
}

.hotline {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out
}

.hotline:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%)
}

.arrow-flicker {
    position: absolute;
    z-index: 10;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation-name: flicker;
    animation-name: flicker;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

@-webkit-keyframes flicker {
    0% {
        opacity: 1
    }
    to {
        opacity: 0.1
    }
}

@keyframes flicker {
    0% {
        opacity: 1
    }
    to {
        opacity: 0.1
    }
}

.distance-top {
    margin-top: 88px
}

#banner {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    padding-top: 130px;
}

#banner .row {
    height: 540px
}

@media only screen and (min-width:1200px) {
    .menu.vi>ul li a {
        padding: 0 20px
    }
    .menu.eng>ul li a {
        padding: 0 15px
    }
}

@media only screen and (min-width:1600px) {
    .container-fluid {
        max-width: 1275px;
        margin: 0 auto
    }
}

@media only screen and (max-width:1199px) {
    .menu {
        width: 35%;
        right: -35%
    }
    .menu li a {
        font-size: 20px
    }
    .language {
        font-size: 30px
    }
    #home .home-menu {
        display: flex;
        justify-content: flex-end !important;
    }
    #banner {
        padding-top: 110px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .distance-top {
        margin-top: 90px
    }
    .menu {
        margin-top: 0;
        float: left;
        text-align: right;
        position: fixed;
        height: 100%;
        top: 0;
        background: #000;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        z-index: 15
    }
    .menu .list-unstyled {
        padding-top: 45px
    }
    .menu .menu-close {
        display: inline-block;
        z-index: 99;
        position: absolute;
        top: 20px;
        right: 20px
    }
    .menu li {
        display: block
    }
    .menu li:after {
        display: none
    }
    .menu li a {
        display: block;
        padding: 25px 40px 25px 40px;
        width: 100%;
        text-align: left;
        color: #fff
    }
    .menu li a:hover {
        color: #8CC641;
    }
    .pc-social {
        display: none
    }
    .menu .m-social {
        text-align: left !important;
        display: block;
        padding-left: 40px
    }
    .menu .m-social li {
        display: inline-block !important
    }
    .menu .m-social li a {
        padding: 0
    }
    .language {
        display: none
    }
    .m-language {
        text-align: left;
        display: block !important;
        color: #fff;
        padding-left: 40px;
        margin-bottom: 30px
    }
    .m-language a {
        display: inline-block !important;
        width: auto !important
    }
    .nav-mobile {
        display: block;
        height: 40px;
        width: 40px;
        float: right;
        text-align: center;
        line-height: 40px;
    }
    .menu-slows .menu {
        right: 0;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear
    }
}

@media only screen and (max-width:992px) {
    .distance-top {
        margin-top: 90px
    }
    .menu {
        margin-top: 0;
        float: left;
        text-align: right;
        position: fixed;
        height: 100%;
        top: 0;
        background: #000;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        z-index: 15
    }
    .menu .menu-close {
        display: block;
        z-index: 99;
        position: absolute;
        top: 10px;
        right: 10px
    }
    .menu .list-unstyled {
        padding-top: 45px
    }
    .menu li {
        display: block
    }
    .menu li:after {
        display: none
    }
    .menu li a {
        display: block;
        padding: 15px 0 15px 25px;
        width: 100%;
        text-align: left;
        color: #fff
    }
    .menu li a:hover {
        color: #8CC641;
    }
    .pc-social {
        display: none
    }
    .menu .m-social {
        text-align: left !important;
        display: block;
        padding-left: 25px
    }
    .menu .m-social li {
        display: inline-block !important
    }
    .menu .m-social li a {
        padding: 0
    }
    .language {
        display: none
    }
    .m-language {
        text-align: left;
        display: block !important;
        color: #fff;
        padding-left: 25px;
        margin-bottom: 10px
    }
    .m-language a {
        display: inline-block !important;
        width: auto !important
    }
    .nav-mobile {
        display: block;
        height: 40px;
        width: 40px;
        float: right;
        text-align: center;
        line-height: 40px;
    }
    .menu-slows .menu {
        right: 0;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear
    }
    #banner .summer_center {
        position: relative;
        display: block;
        margin: 0 auto;
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        left: auto;
        top: auto
    }
    .contain-header {
        padding-left: 15px;
        padding-right: 15px
    }
    .before-menu {
        display: none
    }
    #more .row {
        height: auto;
        text-align: center
    }
    .menu li ul.submenu {
        background: inherit;
        position: static;
        margin: 0 20px;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {
    .menu li a {
        padding: 15px 0 15px 30px
    }
    .m-language {
        padding-left: 50px
    }
    .menu .m-social {
        padding-left: 50px
    }
}

@media only screen and (max-width:768px) {
    .contain-page {
        padding-left: 15px;
        padding-right: 15px
    }
    .menu {
        width: 60%;
        right: -60%
    }
    .menu .list-unstyled {
        padding-top: 15px
    }
    .menu .menu-close {
        top: 0;
        right: 0
    }
    .menu li a {
        padding: 8px 0 8px 15px;
        font-size: 20px
    }
    #banner {
        padding-top: 148px;
    }
}

@media only screen and (max-width:575px) {
    #camp .row .col1 img {
        left: -15px
    }
    #banner {
        padding-top: 125px;
    }
}

@media only screen and (max-width:400px) {
    #banner {
        padding-top: 110px;
    }
}

@media only screen and (min-width:1200px) and (max-width:1599px) {
    body>section {
        background-position: 0 0 !important
    }
}

@media only screen and (max-width:1199px) {
    .menu .list-unstyled {
        display: block
    }
    .menu .list-unstyled a br {
        display: none
    }
}

/*# sourceMappingURL=style.css.map */

/* TA custom */

/* menu bar */

.menu .list-unstyled li i {
    position: absolute;
    top: 105%;
    left: 45%;
    bottom: 25%;
    -webkit-transition: all 0.3s;
}

.menu .list-unstyled li i {
    opacity: 0;
}

.menu .list-unstyled a:hover i {
    color: #8dc43c;
    opacity: 1;
}

/*join-now*/

#join-now {
    margin-top: 50px;
}

#join-now .skew-xy {
    margin: auto;
    width: 85%;
    height: 72px;
    background-color: #96CA3C;
    text-align: center;
    cursor: pointer;
    -webkit-animation: glowing 1500ms infinite ease-in-out;
    -moz-animation: glowing 1500ms infinite ease-in-out;
    -o-animation: glowing 1500ms infinite ease-in-out;
    animation: glowing 1500ms infinite ease-in-out;
}

@-webkit-keyframes glowing {
    0% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    50% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 30px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    50% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 30px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    50% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 30px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes glowing {
    0% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    50% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 30px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

#join-now .wrapper-title-skew {
    width: 50%;
    margin: auto;
}

#join-now .skew-xy h2 {
    font-size: 40px;
    font-family: OpensansBold;
    color: #fff;
    padding-top: 10px;
    text-shadow: 2px 2px 5px #5d5d5d;
}

#join-now .chevron-down-join-now {
    text-align: center;
    height: 25px;
    font-size: 52px;
    color: #8dc43c;
}

#join-now .form-register-join {
    margin-top: 150px;
}

#join-now .form-register-join .register-join {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

#join-now .form-register-join .register-join h2 {
    font-size: 35px;
    font-family: 'OpensansBold';
}

#join-now .form-register-join .dash-border {
    border-top: 1px solid #8dc43c;
    height: 30px;
    width: 60%;
    margin-bottom: 20px;
}

#join-now .form-register-join .register-join h2 {
    text-align: center;
}

#join-now .form-register-join .form-register-content .register-box {
    /* width: 255px; */
    height: 40px;
    color: #fff;
    font-size: 13px;
}

#join-now .form-register-join .form-register-content .register-box .box-content {
    font: inherit;
    margin: 0;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: rgba(151, 151, 151, 0.348);
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

#join-now .form-register-join .form-register-content .register-box .box-content-name {
    font: inherit;
    margin: 0;
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 10px;
    background-color: #ffffff;
    opacity: 0.7;
    border: 1px solid #8FCA42;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

#join-now .form-register-join .form-register-content .register-box .box-content-name::placeholder {
    color: #373737;
}

#join-now .form-register-join .form-register-content .register-box .box-content+i.fas {
    float: right;
    margin-top: -35px;
    margin-right: 5px;
    pointer-events: none;
    color: green !important;
    padding-right: 5px;
    color: rgba(151, 151, 151, 0.348);
    font-size: 30px;
}

#join-now .form-register-join .form-register-content .form-bill-area i.fal {
    float: right;
    margin-top: -30px;
    margin-right: 5px;
    pointer-events: none;
    color: green !important;
    padding-right: 5px;
    color: rgba(151, 151, 151, 0.348);
    font-size: 19px;
}

#join-now .form-register-join .form-register-content .form-bill-area-wrap {
    margin: auto;
    border: 1px solid #6E6E6E
}

#join-now .form-register-join .form-register-content .form-user-area-wrap {
    margin: auto;
    border: 1px solid #6E6E6E
}

#join-now .form-register-join .form-register-content .form-bill-area {
    height: 100%;
    margin: auto;
    padding: 50px 50px;
}

#join-now .form-register-join .form-register-content .register-box #store-choose {
    width: 100%;
    height: 40px;
    cursor: pointer;
    /* color: #fff; */
}

#join-now .form-register-join .form-register-content .file-upload {
    padding-left: 0px;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload {
    display: flex;
    align-items: center;
}

.upload input {
    padding-left: 0px;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

::-webkit-input-placeholder {
    color: white;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}

#join-now .form-register-join .form-register-content .bill-image-upload {
    font-size: 15px;
    font-family: OpensansBold;
}

#join-now .form-register-join .form-register-content .register-box label {
    color: white;
    font: inherit;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    margin-top: 30px;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #8FCA42;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

#join-now .form-register-join .form-register-content .register-box textarea {
    padding-top: 10px;
}

#join-now .form-register-join .form-register-content .register-box .file-upload-box i {
    color: #8FCA42;
    font-weight: 600 !important;
    font-size: 14px;
}

#join-now .form-register-join .form-register-content .register-box #file-uploader {
    display: none;
}

#join-now .register-button {
    text-align: center;
}

#join-now .register-button .btn-register {
    width: 25%;
    height: 40px;
    margin: auto;
    text-transform: uppercase;
    background-color: #96CA3C;
    border: none;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    outline: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 26px;
}

@media only screen and (max-width: 425px) {
    #join-now .form-register-join .form-register-content .form-bill-area .label-name {
        margin: 10px 0px;
    }
}

@media only screen and (max-width: 768px) {
    #join-now .form-register-join .dash-border {
        display: none;
    }
    #join-now .register-button .btn-register {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #join-now .form-register-join .form-register-content .respon {
        margin-top: 23px;
    }
}

@media only screen and (max-width: 1200px) {
    .menu .list-unstyled a:hover i {
        color: #8dc43c;
        opacity: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #join-now .form-register-join .register-join h2 {
        font-size: 40px;
    }
}

.menu li a {
    font-size: 14px !important;
}

#join-now .form-register-join .form-register-content .register-box select {
    width: 100%;
    height: 40px;
}

input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
}

@media only screen and (max-width: 768px) {
    #join-now .skew-xy h2 {
        font-size: 25px;
    }
}

.step1, .step2, .mt-1, .mt-2 {
    display: none
}

.step1.show, .step2.show, .mt-1.show, .mt-2.show {
    display: block
}

.bill-upload label {
    margin-bottom: 0
}

span.error {
    margin-top: .5rem;
    color: red;
    display: block
}

#Submit {
    margin-top: 0!important
}

.box-reward-modal {
    width: 100%;
    height: 100%;
    font-size: 20px
}

#reward-modal .modal-content .box-reward-modal .close-modal {
    padding: 5px 50px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    background-color: #8CC641;
    color: #FFFFFF;
    border: 1px solid #8CC641;
    cursor: pointer;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

/*==================================================================*/

/*HomePage*/

/*==================================================================*/

/*============*/

/*Opacity*/

/*============*/

.mb-30 {
    margin-bottom: 80px;
}

.padding {
    padding: 50px 0px;
}

.clear-both {
    clear: both;
}

@media only screen and (max-width: 500px) {
    .padding {
        padding: 30px 0px;
    }
}

img {
    transition: .3s all ease-in-out;
}

.banner {
    position: relative;
}

#rules table th, #rules table td, #list-prize table th, #list-prize table td {
    white-space: nowrap;
}

span.link, a.link {
    color: #8CC641;
}

a.link:hover {
    opacity: .7;
}

/*============*/

/*Header*/

/*============*/

#home .home-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*============*/

/*Banner*/

/*============*/

#banner {
    position: relative;
    text-align: center;
}

/*============*/

/*Join*/

/*============*/

.title-main h2 {
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    color: #8FCA42;
    text-transform: uppercase;
    line-height: 48px;
    text-align: center;
}

.title-main h2 {
    overflow: hidden;
    text-align: center;
}

.title-main h2 span:before, .title-main h2 span:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    background-color: #8CC641;
}

.title-main h2 span:before {
    right: 1em;
    margin-left: -50%;
    background: linear-gradient(180deg, #8FCA42 0%, #FFEF00 100%);
}

.title-main h2 span:after {
    left: 1em;
    margin-right: -50%;
    background: linear-gradient(180deg, #8FCA42 0%, #FFEF00 100%);
}

.align-item-center {
    align-items: center;
}

#join {
    text-align: center;
}

#join .desc {
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 300;
}

@media only screen and (max-width: 768px) {
    #join .desc {
        display: none;
    }
}

#join .box-step .step {
    margin-bottom: 35px;
}

#join .box-step .step .box-img {
    position: relative;
    border: 2px solid #8FCA42;
    box-sizing: border-box;
}

#join .box-step .step .box-img:before {
    position: absolute;
    counter-increment: section;
    content: counter(section);
    font-family: "Roboto", sans-serif;
    z-index: 10;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

#join .box-step .step .box-img:after {
    position: relative;
    top: -363px;
    right: -7px;
    content: '';
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 55px solid #8CC641;
}

#join .box-step .step .box-img .img img {
    height: 440px;
}

#join .box-step .content table th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
}

#join .box-step .content table td {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 18px;
    padding-left: 20px;
    text-transform: uppercase;
    padding-top: 30px;
}

#join .box-step .step .box-img .img {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: -24px;
    min-height: 440px;
}

#join .box-step .step .box-img .img img:hover {
    transform: scale(1.1);
}

#join .box-step .step .box-img .week-content {
    background-color: #8FCA42;
    width: 100%;
    height: 100%;
    position: absolute;
}

#join .box-step .content {
    background: rgba(0, 0, 0, 0.5);
    min-height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#join .box-step .content table {
    width: 100%;
}

#join .box-step .content table tr {
    vertical-align: baseline;
    text-align: left;
}

#join .box-step .content table th span {
    position: absolute;
    left: 20px;
    top: 40px;
    right: 80%;
    border: 1px solid #96CA3C;
    background: #96CA3C;
}

#join .box-step .content table th {
    position: relative;
    width: 27%;
    font-family: "Roboto", sans-serif;
    padding-left: 20px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #8FCA42;
}

@media only screen and (max-width: 767px) {
    #join .box-step .content table th {
        font-size: 16px;
    }
}

#join .box-step .content table td span {
    font-family: "Roboto", sans-serif;
}

#join .box-step .content table td.ex {
    padding-left: 20px;
}

#join .box-store {
    position: relative;
    padding-top: 50px;
}

#join .box-store .title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-bottom: 25px;
    text-align: left;
    color: #FFFFFF;
}

#join .box-store .store-bill {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#join .box-store .store-bill .store {
    padding-right: 90px;
}

#join .box-store .store-bill .store .form-control {
    border: 2px solid #8CC641;
    height: 50px;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

#join .box-store .store-bill .store select {
    -webkit-appearance: inherit;
    -moz-appearance: inherit;
    appearance: inherit;
    padding-right: 40px;
    background: transparent url(../img/SVG/0000.svg) no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 10px;
}

#join .box-store .store-bill .store .form-control option {
    color: black !important;
}

#join .box-store .store-bill .bill #bill-content .img {
    position: relative;
    display: inline-block;
}

#join .box-store .store-bill .bill #bill-content .img a img.zoom {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#join .box-store .date {
    padding-top: 50px;
    text-align: left;
}

#join .box-store .date p {
    margin-bottom: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

@media only screen and (max-width: 768px) {
    #join .box-store .store-bill .store {
        padding-right: 0px;
    }
    #join .box-store {
        padding-top: 0px;
    }
}

/*============*/

/*Reward*/

/*============*/

#reward {
    position: relative;
    text-align: center;
}

#reward .content .title {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
    #reward .content .title {
        color: #8CC641;
        font-size: 20px;
    }
}

/*Start john*/

#reward-second .reward-item {
    position: relative;
    max-height: 424px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#reward-second .reward-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
}

#reward-second .reward-item .item-img {
    display: flex;
    justify-content: space-between;
}

#reward-second .reward-item .item-img img {
    position: relative;
    z-index: 1;
    margin-top: -75px;
    margin-left: -186px;
}

#reward-second .reward-item .item-name {
    padding-left: 40px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    margin-top: 80px;
}

#reward-second .reward-item .item-name span {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
}

#reward-second .reward-item:hover {
    transform: scale(1.01);
}

#reward-second .reward-item .item-content {
    position: relative;
    z-index: 1;
}

@media (min-width: 1024px) and (max-width: 1199px) {
    #reward-second .reward-item .item-content {
        padding: 0 55px;
    }
}

@media only screen and (min-width:992px) and (max-width: 1199px) {
    #reward-second .reward-item .item-name {
        padding-left: 15px;
        margin-top: 70px;
    }
}

@media only screen and (min-width:769px) and (max-width: 991px) {
    #reward-second .reward-item .item-name {
        padding-left: 15px;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 1024px) {
    #reward-second .reward-item .item-img img {
        padding-top: 10px;
    }
}

#reward-second .reward-item .item-content:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-right: 60px solid transparent;
    border-top: 70px solid #95CC2D;
    z-index: -1;
}

#reward-second .reward-item .item-content h3 {
    padding-top: 5px;
    padding-left: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
}

#reward-second .reward-item .item-content span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
}

#reward-second .reward-item .item-content p {
    color: #e2e2e2;
}

/*End john*/

#reward .reward-special {
    background-image: url(../img/bg-moto.png);
    background-size: 100% 130%;
}

#reward .reward-special .reward-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#reward .reward-special .reward-special-number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reward .reward-special .reward-number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reward .reward-special .reward-number::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, #8FCA42 0%, #FFEF00 100%);
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    transform: rotate(-45deg);
    z-index: 3;
}

#reward .reward-special .reward-number::after {
    content: "";
    width: 100px;
    height: 100px;
    background: transparent;
    border: 5px solid #FFEF00;
    transform: rotate(-45deg);
    z-index: 1;
}

#reward .reward-special .reward-special-number p {
    position: absolute;
    transform: rotate(45deg);
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    /* margin-top: 10px; */
    margin: auto;
    z-index: 4;
    transform: rotate(0deg);
}

#reward .reward-special .reward-title {
    position: absolute;
    background: transparent;
    width: 300%;
    height: 90%;
    z-index: 2;
}

#reward .reward-special .reward-title span {
    position: absolute;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.888889px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 47px;
    margin-left: -235px;
    font-family: 'Open Sans', sans-serif;
}

#reward .reward-special .reward-title::before {
    content: "";
    position: absolute;
    width: 150%;
    border-top: 75px solid #FFFFFF;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    margin-left: -325px;
    margin-top: 40px;
    z-index: -1;
}

#reward .reward-special .reward-content-description {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    margin-top: 90px;
    text-align: center;
    color: #FFFFFF;
}

#reward .reward-special .reward-content-description span {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #8FCA42;
}

#reward .reward-special .reward-content .reward-content-img {
    position: relative;
}

/*============*/

/*FAQ*/

/*============*/

#faq {
    text-align: left;
}

#faq .box-faq {
    position: relative;
}

@media only screen and (min-width: 767px) {
    #faq .box-faq:before {
        position: absolute;
        top: 0;
        left: -10px;
        content: '';
        background-image: url('../img/top-faq.png');
        width: 35px;
        height: 214px;
    }
    #faq .box-faq:after {
        position: absolute;
        bottom: 0;
        left: -10px;
        content: '';
        background-image: url('../img/bottom-faq.png');
        width: 35px;
        height: 214px;
    }
}

#faq .list-question {
    position: relative;
}

#faq .list-question:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.3;
    z-index: -1;
}

#faq .list-question:not(:last-child) {
    margin-bottom: 25px;
}

#faq .faq {
    margin-top: 80px;
    padding: 0 100px;
}

#faq .faq .question {
    position: relative;
    width: 100%;
    outline: none;
    color: #fff;
    transition: .4s;
    text-align: left;
    padding: 25px 0px 20px;
    border: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding-left: 60px;
}

#faq .faq .question.active {
    background-color: #8CC641;
}

#faq .faq .question:before {
    content: "\f101";
    position: absolute;
    color: #8CC641;
    font-weight: bold;
    margin-left: -30px;
    z-index: 99;
    font-family: FontAwesome;
}

#faq .faq .question.active:before {
    content: '\f103';
    color: #fff;
    font-family: FontAwesome;
}

#faq .faq .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: relative;
    padding-left: 30px;
}

#faq .faq .answer p {
    margin-bottom: 0px;
    padding: 0px 30px 30px;
    color: #E2E2E2;
    font-size: 15px;
    word-break: inherit;
    padding-top: 30px;
}

@media only screen and (max-width: 767px) {
    #faq .faq .answer p {
        word-break: break-word;
    }
}

/*============*/

/*Contact*/

/*============*/

#contact {
    text-align: center;
    clear: both;
}

#contact .box-contact {
    position: relative;
}

#contact .box-contact .logo-ft {
    width: 140px;
}

#contact .box-contact .name-cp {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media only screen and (max-width: 767px) {
    #contact .box-contact .name-cp {
        display: none;
    }
}

#contact .box-contact .social-ft a {
    display: inline-block;
    margin: 0 15px;
}

#contact .box-contact .social-ft a:hover {
    transform: scale(1.2);
}

#contact .box-contact .contact-info {
    text-align: center;
    padding: 50px 0px;
    position: relative;
}

@media only screen and (max-width: 767px) {
    #contact .box-contact .contact-info {
        padding: 30px 0px;
    }
}

@media only screen and (min-width: 767px) {
    #contact .box-contact .contact-info {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 500px;
        margin: auto;
    }
    #contact .box-contact .contact-info .mail.info {
        transform: translateX(40px);
    }
    #contact .box-contact .contact-info .img {
        position: relative;
        display: inline-block;
        margin-bottom: 5px;
    }
    #contact .box-contact .contact-info .img.phone:before {
        content: '';
        width: 200px;
        height: 2px;
        background-color: #979797;
        position: absolute;
        left: calc(100% + 20px);
        top: 50%;
    }
    #contact .box-contact .contact-info .img.phone:after {
        content: '';
        width: 150px;
        height: 2px;
        background-color: #979797;
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateX(-100%);
    }
    #contact .box-contact .contact-info .img.mess:before {
        content: '';
        width: 200px;
        height: 2px;
        background-color: #979797;
        position: absolute;
        right: calc(100% + 20px);
        top: 50%;
    }
    #contact .box-contact .contact-info .img.mess:after {
        content: '';
        width: 150px;
        height: 2px;
        background-color: #979797;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateX(100%);
    }
}

#contact .box-contact .contact-info i {
    font-size: 22px;
    color: #8CC641;
    position: relative;
}

#contact .box-contact .copyright {
    font-size: 11px;
    color: #999;
}

/*==================================================================*/

/*Promotion Rules*/

/*==================================================================*/

#rules {
    position: relative;
    padding: 70px 0px;
    color: #e2e2e2;
}

@media only screen and (max-width: 767px) {
    #rules {
        padding: 50px 0px;
    }
}

#rules .rules {
    position: relative;
    width: 100%;
    padding: 0px 50px 50px 50px;
    background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 767px) {
    #rules .rules {
        padding: 10px;
    }
}

.rules .angle-arrow {
    text-align: center;
}

.rules .angle-arrow i {
    color: #8FCA42;
    font-size: 80px;
}

.top-content .title-main {
    margin-bottom: 60px;
}

#rules .top-content .desc {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    position: relative;
}

#rules .rules .list-content {
    padding-top: 50px;
}

@media only screen and (max-width: 767px) {
    #rules .rules .top-content .desc {
        padding-bottom: 30px;
    }
    #rules .rules .list-content {
        padding-top: 30px;
    }
}

#rules .rules .list-content .title {
    font-family: "Roboto", sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

#rules .rules .list-content .title-cat {
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
    margin-bottom: 10px;
}

#rules .rules .list-content .content {
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    #rules .rules .list-content .content {
        margin-bottom: 15px;
    }
}

#rules .rules .list-content .content ul {
    margin-bottom: 0px;
    list-style-type: none;
    padding-left: 0px;
}

#rules .rules .list-content .content ul li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 15px;
}

#rules .rules .list-content .content ul li:before {
    content: '-';
    position: absolute;
    left: 0;
    top: 0;
}

#rules .rules .list-content .content ul li ul.list-style-2 {
    padding-top: 15px;
}

#rules .rules .list-content .content ul.list-style-2 li {
    padding-left: 30px;
}

#rules .rules .list-content .content ul.list-style-2 li:before {
    content: '•';
}

#rules .rules .list-content .content ul li span.prize, #rules .rules .list-content .content ul li .link {
    color: #8CC641;
}

#rules .rules .list-content .content ul li .link:hover {
    opacity: .7;
}

#rules .rules .list-content .content table {
    border-collapse: collapse;
    vertical-align: middle;
    position: relative;
    margin: 20px 0px;
}

@media only screen and (max-width: 767px) {
    #rules .rules .list-content .content table {
        max-width: 100%;
        margin: 0 auto;
        font-size: 13px;
    }
}

#rules .rules .list-content .content table:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    z-index: -1;
}

#rules .rules .list-content .content table tr:first-child {
    height: 50px;
}

#rules .rules .list-content .content table tr:not(:first-child) {
    height: 100px;
}

@media only screen and (max-width: 767px) {
    #rules .rules .list-content .content table tr:not(:first-child) {
        height: 50px;
    }
}

#rules .rules .list-content .content table tr:not(:first-child):not(:last-child) th {
    border-bottom: 3px solid #e2e2e2;
    text-align: center;
}

#rules .rules .list-content .content table tr th {
    font-family: "Roboto", sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: none;
}

#rules .rules .list-content .content table tr:first-child th {
    background-color: #8CC641;
    text-align: center;
}

#rules .rules .list-content .content table th:not(:last-child) {
    border-right: 3px solid #e2e2e2;
}

#rules .rules .list-content .content table tr td {
    border-right: 3px solid #e2e2e2;
    border-bottom: 3px solid #e2e2e2;
    text-align: center;
    vertical-align: middle;
    border-top: none;
}

#rules .rules .list-content .content table tr td:last-child {
    border-right: none;
}

#rules .rules .list-content .content table tr:last-child th:first-child {
    text-transform: uppercase;
    padding-left: 20px;
    text-align: left;
}

#rules .rules .list-content .content .note p {
    font-family: "Roboto", sans-serif;
    text-decoration-line: underline;
}

/*==================================================================*/

/*List of Prize*/

/*==================================================================*/

#list-prize {
    position: relative;
    padding: 70px 0px;
}

@media only screen and (max-width: 767px) {
    #list-prize {
        padding: 30px 0px;
    }
}

#list-prize .list-prize .title-main {
    margin-bottom: 20px;
}

#list-prize .list-prize .desc {
    max-width: 560px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    position: relative;
}

#list-prize .list-prize .desc:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 165px;
    height: 1px;
    background-color: #e2e2e2;
}

#list-prize .list-prize .temp p {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: #8CC641;
    padding-top: 70px;
    text-align: center;
}

#list-prize .list-prize .table {
    padding: 70px 0px 0px;
}

@media only screen and (max-width: 767px) {
    #list-prize .list-prize .table {
        padding: 30px 0px 0px;
    }
}

#list-prize .list-prize .table table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    position: relative;
}

@media only screen and (max-width: 767px) {
    #list-prize .list-prize .table table {
        font-size: 13px;
    }
}

#list-prize .list-prize .table table:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.3;
    z-index: -1;
}

#list-prize .list-prize .table table tr {
    height: 50px;
}

#list-prize .list-prize .table table tr:first-child th {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #8CC641;
    border-top: none;
    border-bottom: none;
    height: 60px;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    #list-prize .list-prize .table table tr:first-child th {
        font-size: 15px;
    }
}

#list-prize .list-prize .table table tr:first-child th:not(:last-child) {
    border-right: 2px solid #fff;
}

#list-prize .list-prize .table table tr td {
    border-top: none;
    height: 80px;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    #list-prize .list-prize .table table tr td {
        height: 50px;
    }
}

#list-prize .list-prize .table table tr:not(:last-child) td {
    border-bottom: 2px solid #989898;
}

#list-prize .list-prize .table table tr td:not(:last-child) {
    border-right: 2px solid #989898;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
}

.modal-body {
    text-align: center;
}

.modal-body img {
    width: 100%;
}

#submit-form {
    padding: 70px 0px;
}

#submit-form .submit-form {
    position: relative;
    width: 100%;
    padding: 50px;
    text-align: center;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    #submit-form .submit-form {
        padding: 30px 10px;
    }
}

#submit-form .submit-form .desc {
    position: relative;
    max-width: 555px;
    margin: 0 auto;
    padding-bottom: 30px;
}

#submit-form .submit-form .desc:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 165px;
    height: 1px;
    background-color: #e2e2e2;
}

#submit-form .submit-form .title-form {
    padding: 30px 0px 50px;
}

#submit-form .submit-form form.form {
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
}

#submit-form .submit-form .label {
    margin-bottom: 5px;
    display: inline-block;
}

#submit-form .submit-form .label span {
    color: #8cc641;
}

#submit-form .submit-form .form-control {
    position: relative;
    padding: 0px;
    float: left;
    text-align: left;
    background-color: transparent;
    color: #fff;
    border: none;
    box-sizing: border-box;
    margin-bottom: 30px;
}

#submit-form .submit-form .form-control .input {
    position: relative;
}

#submit-form .submit-form .form-control .input:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    z-index: -1;
}

#submit-form .submit-form .form-control input {
    background-color: transparent;
    width: 100%;
    border: none;
    height: 50px;
    padding-left: 10px;
    vertical-align: middle;
    box-sizing: border-box;
    color: #fff;
}

#submit-form .submit-form .form-control input:focus {
    outline: none;
    border-bottom: 4px solid #8CC641;
}

#submit-form .submit-form .form-control.name {
    max-width: 60%;
    margin-right: 2%;
}

#submit-form .submit-form .form-control.birthday {
    max-width: 36%;
    margin-left: 2%;
}

#submit-form .submit-form .form-control.phone, #submit-form .submit-form .form-control.cmnd, #submit-form .submit-form .form-control.bill {
    max-width: 30%;
}

#submit-form .submit-form .form-control.cmnd {
    margin: 0 5%;
}

@media only screen and (max-width: 767px) {
    #submit-form .submit-form .form-control {
        max-width: 100% !important;
        margin: 0 !important;
        padding-bottom: 20px;
    }
}

#submit-form .submit-form .box-store p.label {
    margin-bottom: 20px;
}

#submit-form .submit-form .box-store .store-radio {
    display: flex;
    justify-content: center;
    text-align: center;
}

#submit-form .submit-form .box-store .store-radio .radio-group {
    margin: 0 30px;
}

@media only screen and (max-width: 767px) {
    #submit-form .submit-form .box-store .store-radio .radio-group {
        margin-left: 0px;
        margin-right: 15px;
    }
}

#submit-form .submit-form .box-store .store-radio .radio-group input {
    width: 25px;
}

#submit-form .submit-form .form-control.birthday input[type="date"] {
    background: transparent url('../img/birthday.png') 97% 50% no-repeat;
}

#submit-form .submit-form .form-control.birthday input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

#submit-form .submit-form .form-control.birthday input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

#submit-form .submit-form .box-store .store-radio .radio-group input[type="radio"]:checked, #submit-form .submit-form .box-store .store-radio .radio-group input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

#submit-form .submit-form .box-store .store-radio .radio-group input[type="radio"]:checked+label, #submit-form .submit-form .box-store .store-radio .radio-group input[type="radio"]:not(:checked)+label {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #fff;
    padding-bottom: 40px;
}

#submit-form .submit-form .box-store .store-radio .radio-group input[type="radio"]:checked+label:before, #submit-form .submit-form .box-store .store-radio .radio-group input[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: transparent;
    border: 1px solid #fff;
}

#submit-form .submit-form .box-store .store-radio .radio-group input[type="radio"]:checked+label:after, #submit-form .submit-form .box-store .store-radio .radio-group input[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 15px;
    height: 15px;
    background: #8CC641;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#submit-form .submit-form .box-store .store-radio .radio-group input[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

#submit-form .submit-form .box-store .store-radio .radio-group input[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media only screen and (max-width: 350px) {
    #submit-form .submit-form .box-store .store-radio {
        display: block;
        text-align: left;
    }
    #submit-form .submit-form .box-store .store-radio .radio-group {
        margin-bottom: 10px;
    }
    .store-radio input[type="radio"]:checked+label, .store-radio input[type="radio"]:not(:checked)+label {
        padding-bottom: 0px !important;
        padding-left: 40px;
    }
    .store-radio input[type="radio"]:checked+label:before, .store-radio input[type="radio"]:not(:checked)+label:before {
        left: 0 !important;
        margin: 0 !important;
    }
    .store-radio input[type="radio"]:checked+label:after, .store-radio input[type="radio"]:not(:checked)+label:after {
        left: 5px !important;
        margin: 0 !important;
    }
}

#submit-form .submit-form .box-upload p.label {
    margin-bottom: 30px;
}

#submit-form .submit-form .box-upload .upload {
    display: flex;
    align-items: center;
}

#submit-form .submit-form .box-upload .upload input {
    padding-left: 0px;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#submit-form .submit-form .box-upload .upload label {
    max-width: 100%;
    font-size: 15px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 14px 20px;
    margin-right: 30px;
    border: 1px solid #8CC641;
    transition: .3s all ease-in-out;
}

#submit-form .submit-form .box-upload .upload label span {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #8CC641;
    margin-left: 10px;
}

@media only screen and (max-width: 767px) {
    #submit-form .submit-form .box-upload .upload {
        display: block;
    }
    #submit-form .submit-form .box-upload .upload .file-upload {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.file-upload.bill::-webkit-file-upload-button, .file-upload.mess::-webkit-file-upload-button {
    visibility: hidden;
}

.upload .bill-upload {
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 13px;
}

.bill-upload label {
    color: white;
    font: inherit;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    margin-top: 15px;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #8FCA42;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

.bill-upload label i {
    color: #8FCA42;
    font-weight: 600 !important;
    font-size: 14px;
}

.bill-upload label span {
    font-size: 15px;
    font-family: OpensansBold;
}

.file-upload.bill:active::before, .file-upload.mess:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.file-upload:focus {
    border: none !important;
}

#submit-form .submit-form .form-control.button-submit {
    text-align: right;
}

@media only screen and (max-width: 767px) {
    #submit-form .submit-form .form-control.button-submit {
        text-align: center;
    }
}

#submit-form .submit-form .form-control.button-submit button {
    background-color: #8CC641;
    color: #fff;
    padding: 12px 102px;
    cursor: pointer;
    border-radius: 0px;
}

/*==================================================================*/

/*Modal Submit Form*/

/*==================================================================*/

#reward-modal .modal-content .box-reward-modal {
    position: relative;
    background-color: #6d6d6d;
    text-align: center;
    padding: 50px 0px;
}

#reward-modal .modal-content .box-reward-modal h1 {
    font-size: 37px;
    font-family: 'RobotoBlack';
    text-transform: uppercase;
    max-width: 45%;
    margin: 0 auto;
    line-height: 45px;
    margin-bottom: 20px;
}

#reward-modal .modal-content .box-reward-modal .close-modal:hover {
    background-color: #8cc641;
    color: #fff;
}

/*==================================================================*/

/*Media Responsive*/

/*==================================================================*/

.test-upload {
    position: relative;
}

.test-upload img {
    position: relative;
}

.test-upload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

@media only screen and (max-width: 969px) {
    .title-main h2 {
        font-size: 30px;
    }
    #home .logo img {
        max-width: 190%;
    }
}

@media only screen and (max-width: 767px) {
    .title-main h2 span:before {
        display: none;
    }
    .title-main h2 span::after {
        display: none;
    }
    .title-main h2 br {
        display: block !important;
    }
}

@media only screen and (max-width: 500px) {
    .title-main h2 {
        font-size: 25px;
    }
    #reward .reward-special .reward-number::before {
        width: 60px;
        height: 60px;
    }
    #reward .reward-special .reward-special-number p {
        font-size: 40px;
    }
    #reward .reward-special .reward-title::before {
        margin-top: 17px;
        border-top: 50px solid #FFFFFF;
        border-left: 70px solid transparent;
        border-right: 70px solid transparent;
        margin-left: -192px;
    }
    #reward-second .reward-item .item-content h3 {
        padding-left: 0;
    }
    #home .logo img {
        max-width: 150%;
    }
    #reward .reward-special .reward-number::after {
        content: "";
        width: 60px;
        height: 60px;
    }
    #join .box-store {
        padding-top: 0px;
    }
    #reward {
        margin-top: 80px;
    }
    #faq {
        margin-top: 80px;
    }
    #contact {
        margin-top: 70px;
        margin-bottom: 75px;
    }
}

.attention {
    padding-left: 30px;
}

.sign-end {
    float: right;
    padding-right: 50px;
}

@media only screen and (max-width: 500px) {
    .title-main h2 {
        font-size: 20px;
        line-height: 25px;
    }
    #join-now .skew-xy {
        height: 40px;
    }
    #join-now .skew-xy h2 {
        font-size: 14px;
        padding-top: 7px;
    }
    #reward-second .reward-item .item-content {
        padding: 0;
    }
    #faq .faq .question {
        font-size: 15px;
    }
    #faq .faq .answer p {
        padding-left: 10px;
        padding-right: 10px;
    }
    #join .box-store .date {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #reward .reward-special .reward-content-description span {
        font-size: 30px;
    }
    #reward .reward-special .reward-content-description {
        font-size: 20px;
        margin-top: 35px;
    }
    #reward .reward-special .reward-number {
        width: 60px;
        height: 60px;
    }
    #reward .reward-special .reward-number::before {
        width: 40px;
        height: 40px;
    }
    #reward .reward-special .reward-number p {
        font-size: 25px;
    }
    #reward .reward-special .reward-title span {
        margin-top: 24px;
        position: absolute;
        width: 100%;
        margin-left: -151px;
        font-size: 25px;
    }
    #join-now .form-register-join {
        margin-top: 80px;
    }
    #home .logo img {
        max-width: 330%;
    }
    .attention {
        padding-left: 10px;
    }
    .sign-end {
        float: right;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 350px) {
    #reward-second .reward-item .item-img img {
        max-width: 240px;
        padding-top: 80px;
        padding-left: 20px;
    }
}

/*Start popup*/

.modal-dialog {
    max-width: 70%;
}

.modal-content {
    background-color: gray;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
    height: 300px;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: unset !important;
}

.modal-content .modal-p {
    width: 75%;
    text-align: center;
}

.modal-content .modal-p p {
    font-size: 25px;
    color: #FFFFFF;
}

.modal-content .modal-p button {
    font-size: 25px;
    margin-top: 20px;
    height: 50px;
    width: 200px;
    background-color: transparent;
    border: 1px solid #8cc641;
    color: #8cc641;
    cursor: pointer;
}

.modal-content::before {
    content: "";
    position: absolute;
    float: left;
    border-top: 150px solid transparent;
    border-left: 90px solid #8cc641;
    border-bottom: 150px solid transparent;
    z-index: 2
}

.modal-content::after {
    content: "";
    position: absolute;
    right: 0;
    border-top: 150px solid transparent;
    border-right: 90px solid #8cc641;
    border-bottom: 150px solid transparent;
    z-index: 2
}

@media only screen and (max-width: 1024px) {
    .modal-dialog {
        max-width: 80%;
    }
    .modal-content .modal-p {
        width: 80%;
        text-align: center;
    }
    .modal-content .modal-p p {
        font-size: 20px;
        color: #FFFFFF;
    }
}

@media only screen and (max-width: 768px) {
    .modal-dialog {
        max-width: 80%;
    }
    .modal-content .modal-p {
        width: 80%;
        text-align: center;
    }
    .modal-content .modal-p p {
        font-size: 18px;
        color: #FFFFFF;
    }
    #reward-second .reward-item .item-content {
        padding: 0 50px;
    }
    #reward-second .reward-item .item-name {
        padding: 10px;
        font-size: 20px;
        text-align: left;
        line-height: 40px;
        margin-top: 30px;
    }
    #reward-second .reward-item .item-name span {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 900;
    }
    #reward-second .reward-item .item-img img {
        max-width: 290px;
        padding-top: 30px;
        max-height: 330px;
    }
    #reward-second .reward-item .item-content h3 {
        left: 0 !important;
        font-size: 20px !important;
    }
    #reward-second .reward-item .item-content span {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 54px;
    }
}

@media only screen and (max-width: 500px) {
    .modal-dialog {
        max-width: 100%;
    }
    .modal-content .modal-p {
        width: 100%;
        text-align: center;
    }
    .modal-content .modal-p p {
        font-size: 15px;
        color: #FFFFFF;
    }
    .modal-content::before {
        content: "";
        display: none;
    }
    .modal-content::after {
        content: "";
        display: none;
    }
    #faq .faq {
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    .hidden-pc {
        display: none
    }
}

@media only screen and (min-width: 501px) {
    .hidden-mb {
        display: none;
    }
}

/*End popup*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #8cc641;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-transform: uppercase;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

/* #myBtn:hover {
    background-color: #555;
} */

@-webkit-keyframes glowing {
    0% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    50% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 30px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    50% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 30px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    50% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 30px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes glowing {
    0% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(5deg) scale(1) skew(1deg);
    }
    50% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 30px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        background-color: #96CA3C;
        -webkit-box-shadow: 0 0 3px #96CA3C;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

.banner img {
    max-height: 100%;
    max-width: 100%;
}